/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.principal {
    background-color: #75e1b8;

}

.start_btn button,
.contenant {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caché {
    display: none;
}

.hauteurpage {
    height: 100vh;
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #10ad98;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    margin: 10px;
}

.start_btn .consignes button {
    font-size: 18px;
    font-weight: 400;
    color: #10ad98;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.Infos .TitreInfos {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    border-radius: 5px;
}

.Infos .ListInfo {
    padding: 15px 30px;
}

.Infos .ListInfo .info {
    margin: 5px 0;
    font-size: 17px;
}

.Infos .ListInfo .info span {
    font-weight: 600;
    color: #10ad98;
}

.Infos .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.Infos .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #10ad98;
    transition: all 0.3s ease;
}

.ContainerTheme h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    font-size: 35px;
    font-weight: 600;
    color: #10ad98;
    padding: 15px 30px;
    text-align: center;
}

.ContainerTheme h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    width: 100%;
}

.ContainerTheme .themes {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.ContainerTheme .themes button {
    margin: 0 5px;
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;

    transition: all 0.3s ease;
    margin: 10px;
}


.ContainerQuizz header {
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.ContainerQuizz header .QuizzTitre {
    font-size: 20px;
    font-weight: 600;
}

.ContainerQuizz header .chrono {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.ContainerQuizz header .chrono .time_left_txt {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.ContainerQuizz header .chrono .timer_sec {
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #0b4681;
    border: 1px solid #0b4681;
    user-select: none;
}

.ContainerQuizz header .evoChrono {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.contenant {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.ContainerQuizz .contenant {
    padding: 0px;
    background: #fff;
}

.ContainerQuizz .containerQuestion {
    padding: 25px 30px 20px 30px;
}

.image {
    text-align: center;
}

.ImageQuestion {
    padding: 20px 0px;
    display: block;
}

.image img {
    width: 90%;
    height: 65vh;
    object-fit: contain;
}

.TexteQuestion {
    font-size: 25px;
    font-weight: 600;
}


.listeChoix {
    padding: 20px 0px;
    display: block;
}

.listeChoix .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listeChoix .option:last-child {
    margin-bottom: 0px;
}

.listeChoix .option:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.listeChoix .option.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.listeChoix .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.listeChoix .option.disabled {
    pointer-events: none;
}


footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .TotalQuestion span {
    display: flex;
    user-select: none;
}

footer .TotalQuestion span p {
    font-weight: 500;
    margin: 0px;
}

footer .TotalQuestion span p:first-child {
    padding-left: 0px;
}

footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover {
    background: #0263ca;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.ContainerResultat.complete_text {
    font-size: 20px;
    font-weight: 500;
}

.ContainerResultat .MessageResultat span {
    font-size: 18px;
    font-weight: 500;
}

.ContainerResultat .buttons {
    display: flex;
    margin: 20px 0;
}

.ContainerResultat .buttons button {
    margin: 5px 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #0e907f;
    transition: all 0.3s ease;
}



.buttons button.continuer {
    color: #fff;
    background: #10ad98;
}

.buttons button.continuer:hover {
    background: #0e907f;
}

button.art:hover {
    color: #0e907f;
    background: #fff;
    border: 1px solid;
    border-color: #0e907f;

}

button.art {
    color: #fff;
    background: #0e907f;
}

button.architecture:hover {
    color: #eaba2a;
    background: #fff;
    border: 1px solid;
    border-color: #eaba2a;
}

button.architecture {
    background: #eaba2a;
    color: #fff;
}

button.jeux:hover {
    color: #e91616;
    background: #fff;
    border: 1px solid;
    border-color: #e91616;
}

button.jeux {
    background: #e91616;
    ;
    color: #fff;
}

button.cine:hover {
    color: #1891c9;
    background: #fff;
    border: 1px solid;
    border-color: #1891c9;
}

button.cine {
    background: #1891c9;
    color: #fff;
}

.imageResultat {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons button.quitter {
    color: #0e907f;
    background: #fff;
}

.buttons button.arret {
    color: #0e907f;
    background: #fff;
}

.buttons button.quitter:hover {
    color: #fff;
    background: #0e907f;
}

.buttons button.arret:hover {
    color: #fff;
    background: #0e907f;
}


@media screen and (max-width: 575px) {
    .TexteQuestion {
        font-size: 16px;
        font-weight: 600;
    }

    .ContainerQuizz header {
        padding: 0 15px;
    }

    .ContainerQuizz .containerQuestion {
        padding: 5px 10px 5px 10px;
    }

    .image img {
        width: 100%;
        height: 33vh;

    }

    .listeChoix .option {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .ContainerResultat .buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .ContainerResultat .buttons button {
        font-size: 16px;
    }

}

@media screen and (max-width: 370px) {

    .image img {
        width: 100%;
        height: 25vh;
    }
    .start_btn button {
        font-size: 22px;
    }
    .start_btn .consignes button {
        font-size: 16px;
    }
    .ContainerQuizz header .chrono .time_left_txt {
        font-size: 14px;

    }
    .ContainerQuizz header .QuizzTitre {
        font-size: 16px;
        font-weight: 600;
    }
 .listeChoix {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    footer {
        height: 50px;
    }

    footer p {
        font-size: 14px;
    }

    footer button {
        height: 33px;
        padding: 0 13px;
        font-size: 14px;
    }


    
}

@media screen and (max-width: 330px) {

    .start_btn button {
        font-size: 20px;
    }
    
    .ContainerTheme h1 {
        font-size: 28px;
    }

    .ContainerTheme h2 {
        font-size: 16px;
    }

    .TexteQuestion {
        font-size: 12px;
        font-weight: 600;
    }

    .ContainerQuizz .containerQuestion {
        padding: 3px 8px 3px 8px;
    }

    .ImageQuestion {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .image img {
        width: 100%;
        height: 20vh;
    }

    .listeChoix .option {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .ContainerQuizz header .chrono {
        height: 38px;
        padding: 0 10px;
        width: 140px;
    }

    .ContainerQuizz header .chrono .timer_sec {
        font-size: 16px;
        height: 30px;
        width: 40px;

    }

  
    .ContainerQuizz header {

        height: 60px;

    }


}